<main class="main">
  <div class="header">
    <h2>Records Table</h2>
    <button (click)="onForm()">Add Record</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (!records().length) {
        <tr>
          <td colspan="5">
            <div class="empty">No Records</div>
          </td>
        </tr>
      }
      @for (record of records(); track record.id) {
        <tr>
          <td>{{ record.id }}</td>
          <td>{{ record.name }}</td>
          <td>{{ record.description }}</td>
          <td>{{ record.createdAt | date : 'medium' }}</td>
          <td>
            <div class="actions">
              <button [disabled]="true" (click)="onForm(record)">Edit</button>
              <button (click)="onDelete(record)">Delete</button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</main>

<router-outlet />
